
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  
  background-color: #181818;
  color: #fcfcfc;
  font-family: 'Poppins', Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  
  letter-spacing: 0.05rem;
  scroll-behavior: smooth;

  --black: #181818;
  --black-2: #202020;
  --white: #fcfcfc;
  --gray-1: #ddd;
  --gray-2: #bbb;

  --red-1: #d44;
  --blue-bright: #0df;
  --blue-1: #49d;
  --green-1: #5b5;
  --orange-1: #ea4;

  --proj-bg-1: linear-gradient(
    135deg,
    #407090,
    var(--black),
    #605070
  );
  --proj-bg-2: linear-gradient(
    135deg,
    #508080,
    var(--black),
    #407090
  );
  --proj-bg-3: linear-gradient(
    135deg,
    #605070,
    var(--black),
    #508080
  );

}

body {
  min-height: 100vh;
}

.hero {
  overflow: hidden;
  position: relative;
}

.bg-bottom {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -3;
  background:
    linear-gradient(
      90deg,
      var(--black),
      #184c58,
      var(--black)
    );
}

.bg-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: 
    linear-gradient(
      #1818180d,
      #18181833 45%,
      #181818f0 90%,
      var(--black) 95%
    );
}

.bg-move-1, .bg-move-2 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500%;
  z-index: -2;
  opacity: 0.2;
  background-position: center;
  animation-name: movement;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes movement {
  0%   {transform: translateY(0);}
  100% {transform: translateY(500px);}
}

.bg-move-1 {
  background-image: url('/src/assets/images/code-1.png');
  animation-duration: 10s;
}

.bg-move-2 {
  background-image: url('/src/assets/images/code-2.png');
  animation-duration: 8s;
}

.hero h1 i {
  color: var(--white);
  font-size: 1.3rem;
  margin-right: 0.4rem;
  transition: all 0.2s;
}

.hero span {
  transition: all 0.2s;
}

.hero:hover span {
  color: var(--white);
}

.hero h2 {
  color: var(--gray-2);
}

.sect {
  padding: 40px 0;
}

.max-width {
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
}

.about-desc {
  text-align: center;
  color: var(--gray-1);
}

.about-desc > div:nth-of-type(2) i {
  font-size: 1.5rem;
}

.about-desc > div:nth-of-type(2) span {
  font-size: 1.1rem;
}

a {
  color: inherit;
  text-decoration: none;
}

.fw400 {
  font-weight: 400;
}

.fw600 {
  font-weight: 600;
}

.fw700 {
  font-weight: 700;
}

a:hover {
  color: var(--gray-2)
}

ul {
  list-style: none;
  text-align: left;
}

.nav {
  background: var(--black);
  position: sticky;
  top: -2px;
}

@media screen and (min-width: 650px) {
}