:root {
  margin: 0 auto;
  width: 100%;

  --black: #202020;
  --white: #fcfcfc;
  --gray-1: #ddd;
  --gray-2: #bbb;

  --red-1: #d44;
  --bright-blue: #0df;
  --blue-1: #4090d0;
  
  letter-spacing: 0.05rem;
}

.hero {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  position: relative;
}

.background {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  background: 
    linear-gradient(
      rgba(0,0,0,0.1),
      #101010
    ),
    linear-gradient(
      90deg,
      var(--black),
      #184c58,
      var(--black)
    );
}

.background-move {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 500%;
  z-index: -1;
  background-image: url('/src/assets/images/code-bg.png');
  opacity: 0.2;
  /* background: 
      repeating-linear-gradient(
      65deg,
      transparent,
      transparent 15px,
      rgba(0,0,0,0.05) 15px,
      rgba(0,0,0,0.05) 20px
      ), 
      repeating-linear-gradient(
      -65deg,
      transparent,
      transparent 15px,
      rgba(0,0,0,0.05) 15px,
      rgba(0,0,0,0.05) 20px
      ); */
  animation-name: movement;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes movement {
  0%   {transform: translateY(0);}
  100% {transform: translateY(1000px);}
}

.hero i {
  color: var(--white);
  font-size: 1.3rem;
  margin-right: 0.4rem;
}

.hero:hover i {
  color: var(--bright-blue);
}

.hero:hover span {
  color: var(--white);
}

h1 {
  color: var(--bright-blue);
  font-weight: 400;
  margin-bottom: 10px;
}

h2 {
  font-weight: 600;
  font-size: 1rem;
  color: var(--gray-2);
  margin-left: 1.8rem;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  color: var(--black)
}

ul {
  list-style: none;
  text-align: left;
}

.nav {
  background: rgba(0,0,0,0.1);
  display: flex;
  gap: 10px;
  justify-content: space-between;
  padding: 10px;
}

.nav ul {
  display: flex;
  gap: 10px;
}

